@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&family=Rubik+Glitch+Pop&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    font-size: 62.5%;
}
.nav{
    position: relative;
    /* border: 2px solid black; */
    width: 100%;
    height: 70px;
    background-color: rgb(41, 34, 73);
    color: aliceblue;
    font-family:'Montserrat', sans-serif;
    padding-right: 10em;
}
.nav .logo{
    float: left;
    margin-left: 7em;
    margin-top: 0.1em;
    font-size: 4.2rem;

}
.nav_items li{
    margin: 2em;
    float: right;
    list-style-type: none;
    display: inline-block; 
    font-size: 1.6rem;
    margin: 1.5em 1em ; 
}
.nav_items a{
    text-transform: uppercase;
    color: aliceblue;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
}
.nav_items a:hover{
    text-decoration: underline;
}
.nav::after{
    content: "";
    display: block;
    clear: both;
}
.cont2{
    position: absolute;
    /* border: 2px solid red; */
    width:80%;
    height: 70%;
    left: 10%;
}
.cont2 h1{
    font-family:'Montserrat', sans-serif;
    border-bottom: 5px solid #e63946;
    font-weight:500;
    /* margin-top: 1em; */
    /* padding-left: 5em; */
    font-size: 3.2rem;
}
.cont2 p{
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    padding-top: 1em;
    /* padding-left: 10em;
    padding-right: 5em; */
    font-size: 1.6rem;
}
.left{
    float: left;
}
.right{
    float: right;
    width: 40%;
    /* border: 2px solid red; */
}
.cont2 .div_items1 li{
    font-size: 1.1rem;
    list-style-type: none;
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    padding-top: 2em;
    margin-left: 25em;
}
.cont2 .div_items2 li{
    font-size: 1.1rem;
    list-style-type: none;
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    padding-top: 2em;
    /* margin-left: 15em;  */
}
.div_items1 li::before{
    content: "\2713";
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
    font-size: 1.2rem;
}
.div_items2 li::before{
    content: "\2713";
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
    font-size: 1.2rem;
}
.cont3{
    position: absolute;
    /* border: 2px solid black; */
    width: 100%;
    height: 20%;
    top: 60%;
}
.cont-item{
    float: left;
    text-align: center;
    width: 25%;
    /* border: 1px solid green; */
}
.cont-item h2{
    font-family: 'Montserrat', sans-serif;
    color: #e63946;
    font-size: 2.4rem;
}
.cont-item p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.5em;
    font-weight: 600;
}
.cont-item::after{
    content: "";
    display: block;
    clear: both;
}
.cont4{
    position: absolute;
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    width: 100%;
    /* border: 2px solid green; */
    height: 20%;
    top: 80%;
}
.cont4 p{
    /* float: left; */
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 0.3em;
    margin-left: 3.5em;
    font-size: 2.1rem;
}
.inside-box{
    position: absolute;
    border: 2px solid white;
    width: 30%;
    height: 70%;
    top: 15%;
    left: 57%;
}
.inside-box a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.2em 1.2em;
}
.inside-box a:hover{
    background-color: black;
}
/* .cont4 .contact{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 20em;
}*/